## DATA CLEANING USING PYTHON

In [1]:
import pandas as pd
df=pd.read_excel(r"C:\Users\alant\Downloads\HR_Data_MNC.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Employee_ID         1048575 non-null  object
 1   Full_Name           1048575 non-null  object
 2   Department          1048575 non-null  object
 3   Job_Title           1048575 non-null  object
 4   Hire_Date           1048575 non-null  datetime64[ns]
 5   Location            1048575 non-null  object
 6   Performance_Rating  1048575 non-null  int64
 7   Experience_Years    1048575 non-null  int64
 8   Status              1048575 non-null  object
 9   Work_Mode           1048575 non-null  object
 10  Salary_INR          1048575 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 88.0+ MB

In [2]:
df.isna().sum()

Employee_ID           0
Full_Name             0
Department            0
Job_Title             0
Hire_Date             0
Location              0
Performance_Rating    0
Experience_Years      0
Status                0
Work_Mode             0
Salary_INR            0
dtype: int64

In [5]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Length: 1048575, dtype: bool